$xs: 600;
$sm: 960;
$md: 1264;
$lg: 1904;

$sp-max: calc($xs - 1)px;
$tb-min: $xs + px;
$tb-max: calc($sm - 1)px;
$pc-min: $sm + px;

$container-max-widths: (
  'md': 420px,
  'lg': 660px,
  'xl': 1140px,
);
