@tailwind base;
@tailwind components;
@tailwind utilities;



.v-toolbar-title__placeholder {
  overflow: visible !important;
  margin-right: 50px !important;
}

.v-btn {
  text-transform: none !important;
}

.v-overlay-scroll-blocked {
  position:unset !important;
}
.v-list-item-title {
  font-size: 0.8rem !important;
  overflow: visible;
  text-overflow: unset;
  }
  .v-list-item-subtitle {
    opacity: 1 !important;
  }

  .v-overlay__scrim {
    opacity: 0.6 !important;
  }
