@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  font-family: YuGothic, "游ゴシック", "Noto Sans JP", "Meiryo", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}


.v-toolbar-title__placeholder {
  overflow: visible !important;
  margin-right: 50px !important;
}

.v-btn {
  text-transform: none !important;
}

.v-overlay-scroll-blocked {
  position:unset !important;
}

.v-list-item-title {
  font-size: 0.8rem !important;
  overflow: visible;
  text-overflow: unset;
  }
  .v-list-item-subtitle {
    opacity: 1 !important;
  }

  .v-overlay__scrim {
    opacity: 0.6 !important;
  }

  .v-avatar {
    border: 1px solid #555;
  }

  .v-container {
    padding: 8px !important;
    max-width: 1000px !important;
  }


  .v-row{
    margin: 0 !important;
  }

  main {
    margin-top: 1rem;
  }
